body {
    margin: 0;
    background: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    line-height: 2em; }
::-webkit-scrollbar {
    display: none;
}
  
  .wrapper {
    max-width: 800px;
    margin: auto;
    margin-top: 50px; 
  }
  
  .tab-wrapper {
    text-align: center;
    display: block;
    margin: auto;
    max-width: 100%; }
  
  .tabs {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; }
  
  .tab-link {
    margin: 0 1%;
    list-style: none;
    padding: 10px 40px;
    color: #aaa;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.5s;
    border-bottom: solid 3px rgba(255, 255, 255, 0);
    letter-spacing: 1px; }
  
  .tab-link:hover {
    color: #999;
    border-color: #999; }
  
  .tab-link.active {
    color: #333;
    border-color: #333; }
  
  .tab-link:nth-of-type(1).active {
    color: #EE6534;
    border-color: #EE6534; }
  
  .tab-link:nth-of-type(2).active {
    color: #1790D2;
    border-color: #1790D2; }
  
  .tab-link:nth-of-type(3).active {
    color: #EEC63B;
    border-color: #EEC63B; }
  
  .content-wrapper {
    padding: 20px 80px; }
  
  .tab-content {
    display: none;
    text-align: center;
    color: #888;
    font-weight: 300;
    font-size: 15px;
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s ease 1 forwards; }
  
  .tab-content.active {
    display: block; }
  
  @keyframes fadeIn {
    100% {
      opacity: 1;
      transform: none; } }
  

/* start */
button, input[type=button], #copy-All {
  color: #000;
  background-color: #fff;
  border: solid 2px #aaa;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}
h1 {
  text-align: center;
  color: #aaa;
  font-size: 28px;
}
h2 {
  text-align: center;
  color: #aaa;
  font-size: 22px;
}
.digi-box {
  margin: 0 auto;
}
input#blink, input#anchorText, input#ilink, input#ialt  {
  width: 100%;
}
.box input, button#btnReset, button#btnResetimg {
  border:2px solid #aaa;
  border-radius:4px;
  margin:8px 0;
  outline:none;
  padding:8px;
  box-sizing:border-box;
  transition:.3s;
}
.box input:focus, button#btnReset:focus, button#btnResetimg:focus {
  border-color:dodgerBlue;
  box-shadow:0 0 8px 0 dodgerBlue;
}

button#btnReset, button#btnResetimg {
  width: 100px;
}
footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  margin-top: 20px;
}
.intro-link {
  color: #EE6534;
}
.intro-img {
  color: #1790D2;
}
.intro-info {
  color: #EEC63B;
}
/* toast */
#toast {
  position: fixed;
  z-index: 999;
  top: 12px;
  right: 12px;
}

.notification {
  display: block;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 300px;
  border-radius: 3px;
  color: white;
  right: -400px;
}
.normal {
  background: #1790D2;
}
.success {
  background: #44be75;
}
.error {
  background: #c33c3c;
}
/* Heart */
#heart {
    position: relative;
    width: 10px;
    height: 9px;
}
#heart:before,
#heart:after {
    position: absolute;    
	-webkit-animation: heart 1s linear infinite;
    content: "";
    left: 5px;
    top: 0;
    width: 5px;
    height: 8px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
}

#heart-container {
    width: 10px;
    height: 9px;
    animation: pulsate 1s infinite;
    -webkit-animation: pulsate 1s infinite;
    padding: 0 7px;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
